*{
  margin-bottom: 20px;
  padding-bottom: 20%;
}
button {
    color: blue;
  }

.content {
    font-weight: normal;
    border: 8%;
    width: 100%;
    font-size: larger;
    font-style: normal;
    margin-right: 10%;
}
.content h1{
    padding-top:55px ;
 }
.mail button{
    height: 50px;
    font-size: medium;
  }
.contents h1{
    margin-left: 50%;
  padding-bottom: 30px;

  }
.contents p{
    padding-bottom: 15px;
  }
.crew {
    margin-left: 50px;
    font-weight:bolder;
    
  }
.contents h2{
  padding-bottom: 20px;
  margin-left: 40%;
}