.course1 button {
    color: blue;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 170%;
    background-color: white;
    border-color: rgb(192, 110, 62);
    border-radius: 10px;
    font-style: italic;
  }
  button{
    color: blue;
  }
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }